*{
 box-sizing: border-box;
 padding: 0; margin: 0 auto;
}


/*Header*/

.jost{
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#sec{
    background-color: #fff;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-flow: row nowrap;
    width: 1140px;
    height: 100px;
    align-items: center;
}

.container1{
    width: 15%;
    display: flex;
    justify-content: start;
    margin: 0;
}

.container2{
    width: 70%;
    display: flex;
    justify-content: center;
}

.li{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.link{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px;
}

.link:hover{
    background-color: #FFF7EB;
    color: #515151;
    padding: 5px 10px;
}

.container3{
    width: 15%;
    display: flex;
    justify-content: end;
}    

.btn1{
    background-color: #ff6b00;
    border: none; border-radius: 5px;
    padding: 10px 20px;
    margin: 0;
}

.contact-us{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}


/*Hero-Section*/

.sec2{
    background-color: #FFF7EB;
    margin-bottom: 50px;
}

.selector{
    display: flex;
    flex-flow: row nowrap;
    width: 1140px;
    height: 800px;
}

.selector1{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-right: 20px;
}

.selector2{
    width: 100%;
    display: flex;
    justify-content: start;
}

.btn2{
    background-color: #ff6b00;
    border: none; border-radius: 5px;
    padding: 10px 20px;
}

.download-cv{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}

.selector3{
    width: 40%;
    background: url(./image/img.png) center no-repeat scroll;
    background-size: cover;
}

