*{
 box-sizing: border-box;
 padding: 0; margin: 0;
}


/*Header*/

.jost{
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#sec{
    width: 100%;
    background-color: #fff;
}

.container{
    display: flex;
    flex-flow: row nowrap;
    width: 1140px;
    height: 100px;
    align-items: center;
    margin: 0 auto; 
}

.container1{
    width: 15%;
    display: flex;
    justify-content: start;
}

.container2{
    width: 70%;
    display: flex;
    justify-content: center;
}

.li{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.link{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px;
}

.link:hover{
    background-color: #FFF5EF;
    color: #515151;
    padding: 5px 10px;
}

.container3{
    width: 15%;
    display: flex;
    justify-content: end;
}    

.btn_contact{
    background-color: #ff6b00;
    border: 3px solid #ffffff; border-radius: 7px;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    transition: all 0.7s;
}

.btn_contact a{
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}


.btn_contact:hover{
    background-color: transparent;
    border: 3px solid #ff6b00; border-radius: 7px;
}

.btn_contact:hover .btn_contact a{
    color: #ff6b00;
}

/*.contact-us{
    
    
}

.contact-us:hover{
    color: #ff6b00;
}*/


/*Hero-Section*/

.sec2{
    width: 100%;
    background-color: #FFF7EB;
    margin-bottom: 150px;
}

.selector{
    display: flex;
    flex-flow: row nowrap;
    width: 1140px;
    height: 800px;
    background-color: #FFF7EB;
    margin: 0 auto;
}

.selector1{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-right: 20px;
}

.menu{
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
}


.btn2{
    background-color: #ff6b00;
    border: 3px solid #ffffff; border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.7s;
}

.download-cv{
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
}

.btn2:hover{
    background-color: transparent;
    border: 3px solid #ff6b00; border-radius: 7px;
}

.download-cv:hover{
    color: #ff6b00;
}

.selector2{
    width: 40%;
    background: url(./image/img.png) center no-repeat scroll;
    background-size: cover;
}


/*Hero2-Section*/

.selector3{
    display: flex;
    width: 1140px;
    height: 770px;
    margin: 0 auto; margin-bottom: 150px;
}

.selector4{
    width: 40%;
    background: url(./image/img2.png) center no-repeat scroll;
    background-size: cover;
}

.selector5{
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-left: 100px;
}

.selector6{
    display: flex;
    gap: 30px;
    height: 58px;
}

.selector7{
    display: flex;
    gap: 10px;
}

.selector8{
    display: flex;
    gap: 10px;
    height: 24px;
}


/*Grid-Container*/

.sec3{
    width: 100%;
    margin-bottom: 150px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
}

.frame{
    width: 18px;
    height: 18px;
}

.title0{
    font-size: 17px;
    line-height: 1.02em;
}

.title1{
    color: #000;
    font-size: 44px;
    font-weight: 700; 
}

.grid_container{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    width: 1140px;
    margin: 0 auto;  
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 21px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #FFF2D1; border-radius: 7px;
    transition: all 0.7s;
}

.category:hover{
    background-color: #FFF5EF;
    border: 1px solid #ffffff; border-radius: 7px;
}

.icon{
    width: 55px;
    height: 55px;
}

.title2{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0px 15px 0px;
}

.para{
    color: #606060;
    font-size: 16px;
}


/*Grid-Container2*/

.sec4{
    width: 100%;
    background-color: #FFF5EF;
    padding: 80px 0px;
}

.grid_container2{
    display: grid;
    grid-template-rows: auto auto auto;
    width: 1140px;
    background-color: #FFF5EF;
    margin: 0 auto;  
}

.category0{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.category1{
    display: flex;
    width: 100%;
    column-gap: 20px;
}

.category2{
    padding: 30px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #FFF2D1; border-radius: 7px;
    transition: all 0.7s;
}

.category2:hover{
    background-color: #FFF2D1;
    border: 1px solid #ffffff; border-radius: 7px;
}

.title3{
    color: #000;
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 7px;
}

.title4{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0px;
}


/*Grid-Container3*/

.sec5{
    width: 100%;
    background: url(./image/background.png);
    margin-bottom: 150px;
    padding: 80px 0px;
}

.grid_container3{
    display: grid;
    gap: 20px;
    grid-template-columns: 366.66px 366.66px 366.67px;
    width: 1140px;
    background: url(./image/background.png);
    margin: 0 auto;
}

.category3{
    width: 100%;
    min-height: 500px;
    align-content: end;
    padding-bottom: 40px;
    text-align: center;
    border: 2px solid #FFE2D1; border-radius: 7px;
    transition: all 0.7s;
}

.category3:hover{
    border: 2px solid #ff6b00; border-radius: 7px;
}

.C1{
    background: #03426D url(./image/bg01.png) center no-repeat scroll;
    background-size: cover;
}

.C2{
    background: #03426D url(./image/bg02.png) center no-repeat scroll;
    background-size: cover;
}

.C3{
    background: #03426D url(./image/bg03.png) center no-repeat scroll;
    background-size: cover;
}

.C4{
    background: #03426D url(./image/bg04.jpg) center no-repeat scroll;
    background-size: cover;
}

.C5{
    background: #03426D url(./image/bg05.png) center no-repeat scroll;
    background-size: cover;
}

.C6{
    background: #03426D url(./image/bg06.png) center no-repeat scroll;
    background-size: cover;
}

.url{
    background-color: #ff6a007e;
    color: #000; text-align: center; text-decoration: none; font-size: 24px; font-weight: 500; font-style: normal;
    padding: 10px 20px;
    border: 3px solid #ff6b00; border-radius: 7px;
    transition: all 0.7s;
}

.url:hover{
    background-color: #ff6b00;
    color: #ffffff;
    border: 3px solid #ffffff; border-radius: 7px;
}


/*Grid-Container4*/

.grid_container4{
    display: grid;
    gap: 20px;
    grid-template-columns: 366.66px 366.66px 366.67px;
    width: 1140px;
    margin: 0 auto;
}

.category04{
    align-content: center;
    background-color: #FFF5EF;
    width: 100%;
    padding: 53px 30px;
    border: none; border-radius: 7px;
}

.category4{
    display: flex;
    gap: 20px; 
}

.title5{
    color: #000;
    font-size: 24px;
    font-weight: 500;
}


/*Grid-Container5*/

.grid_container5{
    display: grid;
    gap: 20px;
    grid-template-columns: 212px 212px 212px 212px 212px;
    width: 1140px;
    margin: 0 auto;
}

.category5{
    align-content: center;
    text-align: center;
    width: 100%;
    padding: 40px;
    border: 1px solid #FFE2D1; border-radius: 7px;
}


/*Grid-Container6*/

.category6{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #FFE2D1; border-radius: 7px;
}

.link_btn{
    display: flex;
    gap: 5px;
}

.link_btn2{
    text-decoration: none;
}

.para2{
    color: #ff6b00;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.3em;
}

.arrow{
    width: 24px;
    height: 24px;
}

.pic{
    width: 366.66px;
    height: 300px;
}

.meta{
    padding: 20px 30px 25px;
}


/*Container09+
Form Intro-Grid-Container7*/

.container09{
    display: flex;
    width: 1140px;
    margin: 0 auto;
}

.grid_container07{
    width: 66.66%;
}

.grid_container7{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    width: 100%;
    
}

.grid{
    border: 1px solid #FFE2D1; border-radius: 6px; 
}

.gbox{
    width: 100%;
    padding: 20px;
}

.jost_500{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.g5{
    grid-area: 3/1/5/3;
}

.gb5{
    padding-bottom: 130px;
}


/*Contact-Container10*/

.container10{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 33.34%;
    padding-left: 53px;
}

.container11{
    display: flex;
    gap: 15px;
}


/*Footer-Grid-Flex-Container*/

.sec6{
    background-color: #101010;
    width: 100%;
    padding: 150px 0px;
}

.footer{
    display: grid;
    gap: 116.66px;
    grid-template-columns: 250px 140px 150px 250px;
    width: 1140px;
    background-color: #101010;
    margin: 0 auto;
}

.container12{
    display: flex;
    flex-direction: column;
}

.logo-footer{
    width: 135px;
    height: 46.51px;
}

.para3{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.title6{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 228px;
    height: 42px;
}

.logo_social{
    width: 42px;
    height: 42px;
}

.logo_social:hover{
    width: 42px;
    height: 42px;
    border: 2px solid #fff; border-radius: 6px;
}

.location{
    width: 12.21px;
    height: 15px;
}

.hotline{
    width: 14.97px;
    height: 15px;
}

.para4{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.02em;
}

.sec7{
    width: 100%;
    background-color: #101010;
    border-top: 1px solid #515151;
}

.container13{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    background-color: #101010;
    margin: 0 auto;
    padding: 30px 0px;   
}
